{
  "presets": [
    "@babel/env",
    "@babel/stage-0",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-function-bind"
  ]
}
